body {
	font-size: 12px;
	color: #000;
	font-family: tahoma, verdana, arial, sans-serif;
	background-color: #F1EAE1;
	margin:0px; text-align:left;
}
a {
	color: #716d6d;
	text-decoration: underline;
}
a:hover {
	color: #2a3236;
	text-decoration: underline;
}

.smalltext {
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
	color:#5d6e75;

}
.smallblacktext {
	font: normal 11px tahoma, verdana, arial, helvetica, sans-serif;
	color:#000;
}

.indent{
	padding: 3px 3px 3px 3px;
	margin: 5px;
	font: 11px verdana, tahoma, arial, sans-serif;
	color: #000060;
	border: 1px solid;
	background-color: #E3E2D7;
	border-bottom: #FFFFFF 1px solid;
	border-left: #000 1px solid;
	border-right: #FFFFFF 1px solid;
	border-top: #000 1px solid;
}

.defaulttext {
    background: none;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color:#000;
}

td {
    background: none;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color:#5d6e75;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align:left;
}

blockquote {
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-style: italic;
	color:#7e96ac;
}
.mediumtext {
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color:#000;
}
.captiontext {
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 18px;
	color:#000;
}
.tbox{
	background-color: #eaeef2;
	border-bottom: #5e5d63 1px solid;
	border-left: #5e5d63 1px solid;
	border-right: #5e5d63 1px solid;
	border-top: #5e5d63 1px solid;
	color: #000000;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 10px;
}
.nextprev{
	background-color: #eaeef2;
	border: 1px solid #696C6C;
	color: #000;
	font: normal 9px verdana, tahoma, arial, helvetica, sans-serif;
	text-align:center;
	padding : 2px, 2px, 2px, 2px;
	background-image : url(images/button.png);
}
.button{
	background-color: #eaeef2;
	border-bottom: #000 1px solid;
	border-left: #000 1px solid;
	border-right: #000 1px solid;
	border-top: #000 1px solid;
	color: #000000;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 9px;
	text-align:center;
	background-image : url(images/button.png);
}

.np{
	background-color: #eaeef2;
	border-bottom: #000 1px solid;
	border-left: #000 1px solid;
	border-right: #000 1px solid;
	border-top: #000 1px solid;
	color: #000000;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 9px;
	text-align:center;
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 2px;
}

form {
	margin: 2px 0px 0px 0px;
}
.spacer{
	padding-bottom : 2px;
	padding-left : 0px;
	padding-right : 0px;
	padding-top : 2px;
}
hr {
	border-top: #666 1px solid;
	border-bottom: #eee 1px solid;
	height: 2px;
	width: 92%;
	text-align:center;
}
.border {
	border-bottom: #000 1px solid;
	border-left: #000 1px solid;
	border-right: #000 1px solid;
	border-top: #000 1px solid;
	background-color: transparent;
}

.border2 {
	border-bottom: #D5D5D5 1px solid;
	border-left: #D5D5D5 1px solid;
	border-right: #D5D5D5 1px solid;
	border-top: #D5D5D5 1px solid;
	background-color: transparent;
}

.border3 {
	border-bottom: #000 1px solid;
	border-left: #000 1px solid;
	border-right: #000 1px solid;
	border-top: #000 1px solid;
	background-color: transparent;
}
.helpbox {
	border: transparent;
	background-color: transparent;
	color:#000;
	font: 9px tahoma, verdana, arial, helvetica, sans-serif;
}

.caption {
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	border-bottom: #363A44 1px solid;
	border-left: #8A96B3 1px solid;
	border-right: #363A44 1px solid;
	border-top: #8A96B3 1px solid;
	background-color: #E1DFDF;
	color: #000;
	font-family: tahoma, arial, verdana, helvetica, sans-serif;
	font-size: 13px;
	background-image : url(images/cap1.png);
}

.caption2 {
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	background-color: transparent;
	color: #243B3B;
	font-family: tahoma, arial, verdana, helvetica, sans-serif;
	font-size: 15px;
	text-align:center;
}
.caption3 {
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	border-bottom: #C7C3C3 1px solid;
	border-left: #fff 1px solid;
	border-right: transparent;
	border-top: #fff 1px solid;
	background-color: #D5D5D5;
	color: #000;
	font-family: tahoma, arial, verdana, helvetica, sans-serif;
	font-size: 13px;
}

.bodytable {
	background-color: transparent;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #000;
}

.bodytable2 {
	background-color: transparent;
	border-bottom: #D5D5D5 1px solid;
	border-left: #D5D5D5 1px solid;
	border-right: #D5D5D5 1px solid;
	border-top: #D5D5D5 1px solid;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #404040;
}

.bodytable3 {
	background-color: transparent;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #000;
}

p {
	margin-top: 0px;
	margin-bottom: 0px
}

.fborder {
	border-bottom: #000000 1px solid;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	background-color: #fff;
	
}
.forumheader{
	background-color: #EBEFF2;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 14px;
	color:#000;
	padding: 4px;
	background-image : url(images/cap1.png);
	border: #C3BDBD 1px solid;
}

.forumheader2{
	background-color: #EFEFEF;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 14px;
	color:#000;
	padding: 4px;
	border: #C3BDBD 1px solid;
}

.forumheader3{
	background-color: #E3E1E1;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 11px;
	color:#000;
	padding: 4px;
	border: #C3BDBD 1px solid;
}

.forumborder{
	border-bottom: #000080 1px solid;
	border-left: #000080 1px solid;
	border-right: #000080 1px solid;
	border-top: #000080 1px solid;
	background-color: transparent;
}

.fcaption {
	border-bottom: #000 1px solid;
	border-left: #000 1px solid;
	border-right: #000 1px solid;
	border-top: #000 1px solid;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 0px;
	padding-top: 2px;
	background-color: #C9C7C7;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	background-image : url(images/fcap.png);
	font-size: 12px;
	color:#fff;
}

.captiontopleft{ width: 21px; background-image: url(images/topleft.png); }
.captiontopmiddle{ width: 100%; background-repeat: repeat-x; background-image: url(images/top.png); }
.captiontopright{ width: 8px; background-image: url(images/topright.png); }



.captionleft{ width: 21px; background-image: url(images/capleft.png); }
.captionbar{ background-repeat: repeat-x; padding-left: 4px; padding-right:6px; font-size: 10px; color: #fff; font-family: verdana, tahoma, arial, sans-serif; background-image: url(images/capdark.png);}
.captionend{ width: 21px; background-image: url(images/captransition.png); }
.captionmain{ width: 100%; background-repeat: repeat-x; background-image: url(images/caplight.png); }
.captionright{ width: 9px; background-image: url(images/capright.png); }

.bodyleft{ width: 3px; background-repeat: repeat-y; background-image: url(images/left.png); }
.bodymain{ width: 100%; background: #F6F8F3; padding: 4px 5px 5px 4px; font-size: 10px; color: #000; font-family: verdana, tahoma, arial, sans-serif; vertical-align:top; }
.bodyright{ width: 3px; background-repeat: repeat-y; background-image: url(images/right.png); }

.bottomleft{ width: 12px; background-image: url(images/bottomleft.png); }
.bottommain{ width: 100%; background-repeat: repeat-x; background-image: url(images/bottom.png);}
.bottomright{ width: 12px; background-image: url(images/bottomright.png); }


.installcaplarge{ font: 20px verdana, tahoma, arial, sans-serif; color:#fff; vertical-align:top }
.installcapsmall{ font: 10px verdana, tahoma, arial, sans-serif; color:#fff; vertical-align:top }

.finfobar{
	background-color: #CCC8C8;
	font: 11px verdana, tahoma, arial, helvetica, sans-serif;
	color:#000;
	padding: 4px;
	border: #C3BDBD 1px solid;
	background-image : url(forum/finfobar.png);
}

a.forumlink{
	color: #fff;
	text-decoration: underline;
}

.topborder {
	border-bottom: #000 1px solid;
}

.bottomborder {
	border-top: #000 1px solid;
	border-bottom: #000 1px solid;
}

.alttd{
	background-color: #ECE0D8;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
	color: #000;
}