body {
	color: #000;
	font: 12px tahoma, verdana, arial, sans-serif;
	background-color: #fff;
	margin:0px;
	text-align:left
}
a {
	color: #716d6d; 
	font-style: italic; 
	font: verdana, arial, sans-serif; 
	text-decoration: none;
}
a:hover {
	color: #2a3236;
	text-decoration: none;
}
.indent{
	padding: 3px;
	margin: 5px;
	font: 11px verdana, tahoma, arial, sans-serif;
	color: #000060;
	background-color: #EAEEF2;
	border: 1px dotted;
}
.smalltext {
	font: 9px tahoma, verdana, arial, helvetica, sans-serif;
	color:#5d6e75;
}
.smallblacktext {
	font: 10px tahoma, verdana, arial, helvetica, sans-serif;
	color:#000;
}
.defaulttext {
	font: 11px verdana, tahoma, arial, helvetica, sans-serif;
	color:#000;
}
td {
	font: 11px verdana, tahoma, arial, helvetica, sans-serif;
	color:#5d6e75;
	padding: 0px;
	text-align:left;
}
.mediumtext {
	font: 11px verdana, tahoma, arial, helvetica, sans-serif;
	color:#000;
}
.captiontext {
	font: 18px verdana, tahoma, arial, helvetica, sans-serif;
	color:#000;
}
.tbox{
	background-color: #eaeef2;
	border: #5e5d63 1px solid;
	color: #000000;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}
.button{
	border: 1px solid #5E5D63;
	color: #000000;
	font: 9px verdana, tahoma, arial, helvetica, sans-serif;
	text-align:center;
	background-image : url(images/button.png);
}

.nextprev{
	background-color: #eaeef2;
	border: #000 1px solid;
	color: #000;
	font: 9px verdana, tahoma, arial, helvetica, sans-serif;
	text-align:center;
	padding: 2px;
	background-image : url(images/button.png);
}
form {
	margin: 2px 0px 0px 0px;
}
.spacer{
	padding: 2px 0px 2px 0px;
}
hr {
	border-top: #666 1px solid;
	border-bottom: #eee 1px solid;
	height: 2px;
	width: 92%;
	text-align:center;
}
.border {
	border: #938d8d 1px solid;
}
.caption {
	padding: 0px 4px 0px 4px;
	border-bottom: #ccc 1px solid;
	border-left: #fff 1px solid;
	border-right: #ccc 1px solid;
	border-top: #fff 1px solid;
	background-color: #e2e2e2;
	color: #000;
	font: 13px tahoma, arial, verdana, helvetica, sans-serif;
}
.caption2 {
	padding: 0px 4px 0px 4px;
	border-bottom: #9cb3c8 1px solid;
	border-left: #fff 1px solid;
	border-right: #9cb3c8 1px solid;
	border-top: #fff 1px solid;
	background-color: #eaeef2;
	color: #000;
	font: 13px tahoma, arial, verdana, helvetica, sans-serif;
}
.bodytable {
	padding: 8px;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
	color: #000;
}
.bodytable2 {
	border: #fff 1px solid;
	padding: 8px;
	font: 11px verdana, tahoma, arial, helvetica, sans-serif;
	color: #404040;
}
p {
	margin-top: 0px
}
.fborder {
	border: #000000 1px solid;
	background-color: #fff;
}
.forumheader{
	background-color: #EBEFF2;
	font: 14px verdana, tahoma, arial, helvetica, sans-serif;
	color:#000;
	padding: 4px;
	background-image : url(../../e107_images/forum/fcap2.png);
	border: #C3BDBD 1px solid;
}
.forumheader2{
	background-color: #EFEFEF;
	font: 14px verdana, tahoma, arial, helvetica, sans-serif;
	color:#000;
	padding: 4px;
	border: #C3BDBD 1px solid;
}

.forumheader3{
	background-color: #E3E1E1;
	font: 11px verdana, tahoma, arial, helvetica, sans-serif;
	color:#000;
	padding: 4px;
	border: #C3BDBD 1px solid;
}

.fcaption {
	border: #000 1px solid;
	padding: 2px 0px 2px 8px;
	background-color: #C9C7C7;
	font: 12px verdana, tahoma, arial, helvetica, sans-serif;
	background-image : url(../../e107_images/forum/fcap.png);
	color:#fff;
}

.helpbox {
	border: 0px none red;
	background-color: transparent;
	color:#000;
	font: 9px tahoma, verdana, arial, helvetica, sans-serif;
}

.installb{
	background-color: #ececec;
	padding: 2px 0px 2px 8px;
	text-align:center;
}

.installh{
	font: 14px verdana, tahoma, arial, helvetica, sans-serif;
	color: #363C3E;
}

.installe{
	font: 14px verdana, tahoma, arial, helvetica, sans-serif;
	color: #C00000;
}

.finfobar{
	background-color: #CCC8C8;
	font: 11px verdana, tahoma, arial, helvetica, sans-serif;
	color:#000;
	padding: 4px;
	border: #C3BDBD 1px solid;
	background-image : url(../../e107_images/forum/finfobar.png);
}

a.forumlink{
	color: #fff;
	text-decoration: underline;
}